body {
    margin: 0;
    font-family: 'Cairo', sans-serif;
    background: #000;
    color: #e5c068;
    text-align: center;
}

.header {
    font-size: 48px;
    font-weight: 900;
    margin-top: 40px;
    letter-spacing: 3px;
    color: #e5c068;
    text-shadow: 0 0 25px #e5c068;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.subtitle {
    font-size: 28px;
    color: #e5c068;
    margin-bottom: 10px;
    text-shadow: 0 0 10px #e5c068;
}

.description {
    font-size: 18px;
    color: #c8a856;
    margin-bottom: 25px;
}

textarea {
    width: 100%;
    height: 150px;
    background: #111;
    border: 2px solid #e5c068;
    color: #e5c068;
    padding: 15px;
    font-size: 17px;
    border-radius: 8px;
    outline: none;
}

button {
    margin-top: 15px;
    padding: 12px 25px;
    background: #e5c068;
    border: none;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ffdf82;
}

.output {
    margin-top: 25px;
    border: 2px solid #e5c068;
    padding: 20px;
    border-radius: 8px;
    min-height: 120px;
    background: #111;
    color: #e5c068;
}
